.chefs__container {
  display: grid;
  grid-template-columns: repeat(4, 20%);
  // justify-content: space-between;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin-top: 50px;
  margin-bottom: 80px;
  @media (max-width: 992px) {
    grid-template-columns: repeat(2, 40%);
  }
}
