.landing {
  position: relative;
  height: 50vh;
  background-image: url(../../imgs/slide-1.jpg);
  background-size: cover;
  @extend %flex;
  flex-direction: column;
  .landing__text {
    width: 70%;
    text-align: center;
    line-height: 1.6;
  }
  .bullets {
    display: flex;
    gap: 10px;
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50% , -50%);
  }
}
