.services {
  &__section {
    margin-top: 50px;
    @extend %flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 80px;
    .services__card {
      &__img:hover {
        @include eleHover(#555555);
      }
    }
  }
}
