.chefs__container__card__text h4, .services__card .services__text h4, .bakery__section__text h3, .blog-container__cards__card__text h4 {
  color: #555555;
  font-size: 18px;
  font-family: "Open sans", sans-serif;
  font-weight: 700;
}

.chefs__container__card__text p, .services__card .services__text p, .bakery__section__text p, .blog-container__cards__card__text .before {
  color: #696969;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

.blog-container__cards__card, .chefs__container__card, footer .footer, .order-section, .parallax__container, .offer__list__ul, .offer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card--font {
  text-transform: capitalize;
  color: #555555;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

.card__content--font {
  color: #696969;
  font-size: 13px;
  font-family: "Open sans", sans-serif;
  font-weight: 400;
}

.card__content__price--font {
  color: #ebb576;
  font-size: 16px;
  font-family: "Open sans", sans-serif;
  font-weight: 700;
}

.title--font {
  text-transform: uppercase;
  color: #555555;
  font-size: 18px;
  font-family: "Open sans", sans-serif;
  font-weight: 700;
}

.btn--font {
  text-transform: uppercase;
  text-decoration: none;
  color: #555555;
  font-size: 13px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}

.nav__link--font {
  text-decoration: none;
  text-transform: uppercase;
  color: #555;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

.landing--font {
  color: #ebb576;
  font-size: 25px;
  font-family: "Open sans", sans-serif;
  font-weight: 600;
}

.landingh--font {
  color: white;
  font-size: 35px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

.landingp--font {
  margin-top: 20px;
  color: white;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

.services--font {
  text-align: center;
  color: #696969;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

.offer__list__ul__li--font {
  color: #696969;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

.parallax__container__text--font {
  color: white;
  font-size: 16px;
  font-family: "Open sans", sans-serif;
  font-weight: 400;
  padding: 20px 0;
}

.auther--font {
  color: #ebb576;
  font-size: 16px;
  font-family: "Open sans", sans-serif;
  font-weight: 600;
}

.footer__text--font {
  text-align: center;
  color: white;
  font-size: 16px;
  font-family: "Open sans", sans-serif;
  font-weight: 400;
}
.footer__text--font span {
  color: #ebb576;
}

.blog-container__cards__card__text .before {
  padding: 15px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

.offer {
  flex-direction: column;
  gap: 40px;
}
.offer__list {
  margin-bottom: 80px;
}
.offer__list__ul {
  gap: 40px;
  text-align: center;
}
@media (max-width: 768px) {
  .offer__list__ul {
    gap: 20px;
  }
}
.offer__list__ul__li {
  color: #696969;
}
.offer__list__ul__li a:hover {
  color: #ebb576;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}
.offer__cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
  gap: 25px;
}
@media (max-width: 768px) {
  .offer__cards {
    grid-template-columns: 1fr;
  }
}
.offer__cards__button {
  text-align: center;
  margin-top: 50px;
}

header {
  width: 100%;
  display: flex;
  height: 100px;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin: 15px 25px;
}
header .header__img {
  width: 120px;
}
header nav {
  flex: 1;
  padding: 0 30px;
}
header nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  list-style: none;
}
@media (max-width: 992px) {
  header nav ul {
    gap: 20px;
  }
}
header nav ul .active {
  color: #ebb576;
}
header nav ul li a:hover {
  color: #ebb576;
}
header .nav__btn {
  background-color: white;
  color: black;
  border-radius: 5px;
  padding: 8px 16px;
  border: 1px solid #555555;
  text-transform: uppercase;
  cursor: pointer;
}
header .nav__btn:hover {
  color: #ebb576;
  background-color: white;
  transition: 0.3s all ease-in-out;
  border-color: #ebb576;
}

@media (max-width: 768px) {
  nav {
    display: none;
  }
  header {
    justify-content: space-between;
  }
}
.landing {
  position: relative;
  height: 50vh;
  background-image: url(../../imgs/slide-1.jpg);
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.landing .landing__text {
  width: 70%;
  text-align: center;
  line-height: 1.6;
}
.landing .bullets {
  display: flex;
  gap: 10px;
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.services__section {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  align-items: center;
  margin-bottom: 80px;
}
.services__section .services__card__img:hover {
  color: #555555;
  background-color: #555555;
  transition: 0.3s all ease-in-out;
}

.bakery {
  margin-bottom: 80px;
  height: 70vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
@media (max-width: 768px) {
  .bakery {
    grid-template-columns: 1fr;
  }
}
.bakery__img {
  background-image: url(/imgs/img-6.jpg);
  background-size: cover;
}
@media (max-width: 768px) {
  .bakery__img {
    display: none;
  }
}
.bakery__section {
  background-color: #F7F7F7;
  padding: 0px 20px;
}
.bakery__section__text {
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.bakery__section__text h3 {
  position: relative;
}
.bakery__section__text h3::before {
  position: absolute;
  content: "";
  background-color: #ebb576;
  height: 2px;
  width: 50px;
  position: absolute;
  bottom: -12px;
}
.bakery__section__text p {
  line-height: 1.6;
  margin-top: 10px;
}
.bakery__section__text__btn {
  margin-top: 40px;
  width: 150px;
}
@media (max-width: 768px) {
  .bakery__section__text__btn {
    margin-top: 20px;
  }
}

.numbers {
  height: 30.33vh;
  background-image: url(/imgs/pattern-1.jpg);
  position: relative;
  margin-top: 80px;
  margin-bottom: 50px;
}
.numbers__cover {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(235, 181, 118, 0.9);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  align-items: center;
}

.chefs__container {
  display: grid;
  grid-template-columns: repeat(4, 20%);
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin-top: 50px;
  margin-bottom: 80px;
}
@media (max-width: 992px) {
  .chefs__container {
    grid-template-columns: repeat(2, 40%);
  }
}

.parallax {
  background-image: url(/imgs/parallax-2.jpg);
  height: 550px;
  background-attachment: fixed;
  background-size: cover;
  position: relative;
}
.parallax__container {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  flex-direction: column;
  gap: 20px;
}
.parallax__container img {
  border-radius: 50%;
}
.parallax__container__text {
  width: 50%;
  text-align: center;
}
.parallax__container .bullets {
  display: flex;
  gap: 10px;
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translatex(-50%);
}
@media (max-width: 768px) {
  .parallax__container .bullets {
    top: 95%;
  }
}

.order-section {
  flex-direction: column;
}
.order-section form {
  margin-top: 50px;
  width: 80%;
}
.order-section form .form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}
.order-section form .form__under {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  margin-top: 20px;
}
.order-section form .form__under textarea {
  height: 100px;
  padding: 10px;
}

.pic-container {
  margin-top: 80px;
  display: flex;
  overflow: hidden;
}
.pic-container img {
  width: 16.6666666667%;
}
@media (max-width: 992px) {
  .pic-container img {
    width: 33.3333333333%;
  }
}

footer {
  background-image: url(/imgs/footer-bg.jpg);
  background-size: cover;
  position: relative;
  height: 40vh;
}
footer .footer {
  padding: 30px 0;
  background-color: rgba(0, 0, 0, 0.616);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  justify-content: space-around;
  flex-direction: column;
  gap: 20px;
}
footer .footer__icons a {
  padding: 0 10px;
}
footer .footer__logo img {
  width: 200px;
}

.blog-container__cards {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(3, 300px);
  justify-content: center;
  align-items: center;
  gap: 15px;
}
@media (max-width: 768px) {
  .blog-container__cards {
    grid-template-columns: 400px;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .blog-container__cards {
    grid-template-columns: 300px 300px;
  }
}
@media (min-width: 1250px) {
  .blog-container__cards {
    grid-template-columns: 400px 400px 400px;
  }
}
.blog-container__cards__card__text {
  text-align: center;
  padding: 15px;
}

.card {
  display: flex;
  width: 100%;
  padding: 0 15px;
}
.card img {
  border-radius: 50%;
  margin-right: 20px;
  width: 130px;
  height: 130px;
}
.card p {
  line-height: 24px;
}
.card__price {
  color: #ebb576;
}

.services__card {
  width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 20px;
}
.services__card__img {
  background-color: #ebb576;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  position: relative;
  margin-bottom: 15px;
}
.services__card__img img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.services__card .services__text {
  line-height: 1.6;
}
.services__card .services__text p {
  margin-top: 20px;
}

.chefs__container__card {
  background-color: #f7f7f7;
  flex-direction: column;
  text-align: center;
  padding: 20px 15px;
}
.chefs__container__card img {
  border-radius: 50%;
  width: 150px;
  margin-bottom: 20px;
}
.chefs__container__card__text {
  line-height: 1.6;
}
.chefs__container__card__text p {
  margin-top: 20px;
}

.blog-container__cards__card {
  flex-direction: column;
}
.blog-container__cards__card img {
  width: 300px;
}
@media (max-width: 776px) {
  .blog-container__cards__card img {
    width: 400px;
  }
}
@media (min-width: 1250px) {
  .blog-container__cards__card img {
    width: 400px;
  }
}

.title {
  display: flex;
  justify-content: center;
  margin: 50px 0;
  position: relative;
}
.title::before {
  content: "";
  background-color: #ddd;
  height: 2px;
  width: 150px;
  position: absolute;
  bottom: -12px;
}
.title::after {
  content: "";
  background-color: #ebb576;
  height: 2px;
  width: 50px;
  position: absolute;
  bottom: -12px;
}

.btn {
  border: 2px solid #555555;
  background-color: white;
  padding: 8px 16px;
  border-radius: 4px;
}
.btn:hover {
  color: white;
  background-color: #555555;
  transition: 0.3s all ease-in-out;
}

.bullet__shape {
  position: relative;
  height: 14px;
  width: 14px;
  border: 1px solid white;
  border-radius: 50%;
}
.bullet__shape::before {
  content: "";
  height: 8px;
  width: 8px;
  border-radius: 50%;
  position: absolute;
  background-color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.number__coner__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.number__coner__text p:first-child {
  position: relative;
  margin-bottom: 40px;
  color: white;
  font-size: 35px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}
.number__coner__text p:first-child::before {
  content: "";
  background-color: white;
  height: 2px;
  width: 100px;
  position: absolute;
  bottom: -12px;
}
.number__coner__text p:last-child {
  color: white;
  font-size: 16px;
  font-family: "Open sans", sans-serif;
  font-weight: 600;
}

.form__input {
  height: 40px;
  padding-left: 8px;
}

.container {
  width: 80%;
  margin: auto;
}/*# sourceMappingURL=main.css.map */