.number__coner__text{
    @extend %flex;
    flex-direction: column;
    text-align: center;
    p:first-child{
        position: relative;
        margin-bottom: 40px;
            @include font(white, 35px, "Poppins", 600);
            @media (max-width: 768px){
                            @include font(white, 30px, "Poppins", 500);

            }
            &::before{
                @include after-before(white, 100px)
            }
    }
    p:last-child{
            @include font(white, 16px, "Open sans", 600);
             @media (max-width: 768px){
                            @include font(white, 12px, "Open sans", 600);

            }
    }
}
 